.footer {
	margin: 50px;
	padding: 50px;
	position: relative;
}

#icons {
	float: left;
}

#icons img {
	margin-right: 20px;
	width: 30px;
	height: 30px;
}

#icons a:hover {
	opacity: 0.5;
}

#copyright {
	float: right;
}