/* Used for all pages */
body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.header {
	/*column-count: 3;*/
	position: fixed;
	height: 63px;
	top: 0;
	z-index: 999;
	opacity:0.8;
	width: 100%;
	/*margin: 0 auto;*/
	display: inline;
	background-color: #fff;
	/*vertical-align: middle;*/
}

#header::after {
	content: "";
	clear: both;
	display: table;
}

.header-box1 {
	height: 63px;
    float: left;
    width: 44.5%;
}

.header-box2 {
	height: 63px;
	float: left;
	width: 45.5%;
}

.header-box3 {
	height: 63px;
	float: left;
	width: 10%;
	/*text-align: right;*/
}

.logo {
	float: left;
	padding-top: 10px;
	margin-left: 75px;
}

nav {
	line-height: 25px;
	float: left;
}

nav li {
	display: inline-block;
	/*text-align: center;*/
	/*margin-left: 30px;*/
	padding-top: 10px;
	position: relative;
}

nav li a {
	display: block;
	color: #444;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #fff;
}

nav ul li a:hover {
	opacity: 0.5;
}

.header-box3 #cart {
	/*float: right;*/
	padding-top: 5px;
}

#cart {
	/*margin-left: 50px;*/
	background-color: #fff;
}

.carousel-wrapper{
	height:400px;
	position:relative;
	width:800px;
	margin:0 auto;
	margin-top: 63px;
}

.carousel-item{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	padding: 25px 50px;
	opacity:0;
	transition: all 0.5s ease-in-out;
}
.arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev{
	left:-30px;
	position:absolute;
	top:50%;
	transform:translateY(-50%) rotate(135deg);
}
 
.arrow-next{
	right:-30px;
	position:absolute;
	top:50%;
	transform:translateY(-50%) rotate(-45deg);
  }

.light{
  color:white;
}

@media (max-width: 480px) {
      .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
      }
}


/*Select every element*/
[id^="item"] {
    display: none;
  }

.item-1 {
    z-index: 2;
    opacity: 1;
  background:url('/~kimie/sushi/assets/home/banner1.jpg');
  background-size:cover;
  }
.item-2{
  background:url('/~kimie/sushi/assets/home/banner2.jpg');
   background-size:cover;
}
.item-3{
  background:url('/~kimie/sushi/assets/home/banner3.jpg');
   background-size:cover;
}

*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}

#link-button {
	background: transparent;
    border: none !important;
    font-size:0;
    display: block;
    width: 750px;
    height: 350px;
    border: none;
    /*background-color: #4CAF50;*/
    /*color: white;*/
    padding: 14px 28px;
    /*font-size: 16px;*/
    cursor: pointer;
    text-align: center;
}

#home-main {
	min-height: 1500px;
	display: block;
}

#index-services {
	margin-top: 20px;
	text-align: center;
	background-color: #fff;
	width: 100%;
	height: 500px;
	display: block;
}

#index-services img {
	width: 40%;
	height: 40%;
}

.services-card {
	display: inline-block;
	float: left;
	width: 33.33%;
	margin-top: 20px;
}

#index-review {
	/*margin-top: 20px;*/
	background-color: #F5F4F0;
	text-align: center;
	height: 150px;
	display: block;
	padding: 60px;
}

#index-roots {
	margin-top: 20px;
	text-align: center;
	background-color: #fff;
	width: 100%;
	height: 325px;
	display: block;
}

#index-chef {
	margin-top: 20px;
	text-align: center;
	background-color: #F5F4F0;
	width: 100%;
	height: 375px;
	display: block;
}

.index-half {
	display: inline-block;
	float: left;
	width: 50%;
}

/*Styles for user page*/

#user-main {
	 margin-top: 63px;
	 background-color: #F5F4F0;
}

#history-table {
	margin-left: 100px;
	text-align: left;
	width: 100%
}

#history-table th, #history-table td {
	padding-bottom: 20px;
}

/*Styles for login page*/
#landing-contents {
	/*margin-top: 150px;
	margin-left: 150px;
	margin-right: 150px;*/
	width: 100%;
	text-align: center !important;
	/*margin: auto;*/
	min-height: 800px;
	vertical-align: center;
	background-color: #F5F4F0;
	margin-top: 63px;
}

.table-center {
    width:66%; 
	padding-left: 27%;
	padding-right: 27%;
    margin-left:17%; 
    margin-right:17%;
}

.table-center2 {
    width:50%; 
	padding-left: 11%;
	padding-right: 11%;
    margin-left:25%; 
    margin-right:25%;
}

/*#landing-image {
	display: inline-block;
	float: left;
	width: 50%;
	height: 100%;
	background-color: #fff;
	overflow: hidden;
	/*padding: 50px;*/
/*}*/

/*#landing-login {
	display: inline-block;
	float: left;
	text-align: center;
	width: 50%;
	height: 80%;
	/*padding: 50px;
}*/

/*#landing-login form {
	text-align: center !important;
}*/

/*#landing-login hr {
	width: 80%;
}

#landing-login p {
	text-align: left;
	margin-left: 190px;
	/*margin-left: 345px; */
}

#landing-login input {
	text-align: left;
	/*margin-left: 225px;*/
}

#landing-login img {
	width: 50%;
	height: 50%;
	margin-top: 100px;
}

#landing-login {
	display: inline-block;
	float: left;
	text-align: center;
	width: 50%;
	height: 80%;
	/*padding: 50px;*/
}*/

#signup-table {
	text-align: center;
	/*margin-left: 500px;*/
}

#signup-table p {
	margin-left: 0px;
}

#particulars-table {
	text-align: left;
}

.otp {
	margin: 0 5px;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	border: solid 1px black;
	outline: none;
	width: 5%;
	/*transition: all .2s ease-in-out;*/
	border-radius: 0px;
	float: left;
	display: inline-block;
}

/* Styles for menu page */
#menu-nav-container a:hover {
	opacity: 0.5;
}

#menu-nav-container {
	text-align: center;
	margin-top: 63px;
}

#menu-nav-container li {
	display: inline-block;
	padding-top: 10px;
	position: relative;
}

#menu-nav-container li a {
	display: block;
	color: #444;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#menu-nav-container ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu-list-container {
	padding-top: 20px;
	margin: 0 auto;
	text-align: center;
	background-color: #F5F4F0;
}

#menu-list-container ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu-list-container img:hover {
	opacity: 0.7;
}

.menu-item {
	display: inline-block;
	margin: 60px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#button-top {
  display: none;
  position: fixed;
  bottom: 210px;
  right: 200px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10%;
  opacity: 0.8;
}

#button-top img {
	width: 50%;
	width: 50%;
}

#button-top:hover {
  background-color: #555;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
	height: 50%;
}

.modal-col1 {
	display: inline-block;
	float: left;
	margin-left: 50px;
	width: 20%;
}

.modal-col2 {
	display: inline-block;
	width: 45%;
}

.modal-col3 {
	display: inline-block;
	width: 5%;
	float: right;
}

.input-number {
	border: 1px solid black;
	border-radius: 0px;
	padding: 5px 8px;
	width: 50px;
	font-size: 18px;
	margin-bottom: 10px; 
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* Styles for contact page */
.contact-main {
	column-count: 2;
	margin-top: 63px;
	width: 100%;
	display: table;
	background-color: #F5F4F0;
}

#contact-details {
	padding: 20px;
	vertical-align: middle;
	display: table-cell;
	float: right;
	margin-right: 200px;
}

#contact-form {
	padding: 20px;
	vertical-align: middle;
	display: table-cell;
	margin-left: 60px;
}

.submit {
    background-color: black; 
    border: 1px solid black;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
	width: 260px;
	cursor: pointer;
}

#div-submit {
	margin-top: 10px;
	margin-bottom: 50px;
}

.input-text {
    border: none;
    border-bottom: 2px solid black;
	background-color: #F5F4F0;
	margin-bottom: 5px;
	font-size: 20px;
}

.input-textarea {
    border: 1px solid black;
	background-color: #F5F4F0;
	margin-bottom: 5px;
	font-size: 15px;
}

#link-button, .datepicker, .input-text, .input-textarea:focus {
    outline: none;
}

input {
  width: 260px;
  display: block;
}

#label {
  padding-top: 10px;
  padding-bottom: 10px;	
}

#div-message {
	padding-top: 20px;
}

.select-style {
    border: 1px solid black;
    border-radius: 0;
    overflow: hidden;
	background: #F5F4F0 url("./icon-select.jpg") no-repeat 95% 50%;
	width: 260px;
	display: block;
	
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
}

.select-style select:focus {
    outline: none;
}

/* Styles for cart page */
.cart-main {
	background-color: #F5F4F0;
	margin-top: 63px;
	width: 100%;
	text-align: center;
	min-height: 900px;
	padding-bottom: 100px;
	/*display: inline-block;;*/
}

#cart-table {
	display: inline-block;
	float: left;
	width: 65%;
}

#cart-details {
	border-collapse: collapse;
	margin: 0 auto;
}

#cart-details th, #cart-details td {
    padding: 15px;
    border-top: 1px solid #ddd;
}

#cart-details th {
	text-align: left;
}

.td-left {
	text-align: left;
}

.td-center {
	text-align: center;
}

#cart-table img {
	width: 40%;
	height: 40%;
}

.submit2 {
    background-color: black; 
    border: 1px solid black;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
	width: 240px;
	cursor: pointer;
}

.back-menu {
    background-color: white; 
    border: 1px solid black;
    color: black;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
	width: 240px;
	cursor: pointer;
}

.back-button {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    /*margin: 4px 2px;*/
	width: 240px;
    cursor: pointer;
}

.delete {
    background-color: black; 
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
	width: 50px;
	cursor: pointer;	
}

.update {
    background-color: black; 
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
	width: 70px;
	cursor: pointer;
}

#order-summary {
	display: inline-block;
	float: left;
	width: 35%;
	margin-left: 0px;
}

#summary-details {
	border-collapse: collapse;
	border: none;
	margin: 0 auto;
}

#summary-details td {
	padding: 10px;
}

/* Styles for checkout page */
.checkout-main {
	background-color: #F5F4F0;
	margin-top: 63px;
	width: 100%;
	text-align: center;
	/*display: inline-block;;*/
	padding-bottom: 100px;
	padding-top: 40px;
	min-height: 700px;
}

#checkout-form {
	display: inline-block;
	float: left;
	width: 65%;
}

#checkout-details {
	border-collapse: collapse;
	border: none;
	margin: 0 auto;
}

#checkout-details td {
	padding: 10px;
	text-align: left;
}

#order-summary2 {
	display: inline-block;
	float: left;
	width: 35%;
	margin-left: -40px;
}

/* Styles for confirmation page */
.confirmation-main {
	background-color: #F5F4F0;
	margin-top: 63px;
	width: 100%;
	text-align: center;
	min-height: 1000px;
	padding-bottom: 100px;
	padding-top: 10px;
	/*display: inline-block;;*/
}

#confirmation-contact {
	width: 80%;
	text-align: center;
	margin: 0 auto;
}

#confirmation-contact hr {
	width: 70%;
}

#shipping-details {
	display: inline-block;
	float: left;
	width: 50%;
	/*text-align: left;*/
}

#email-details {
	display: inline-block;
	float: left;
	width: 50%;
	/*text-align: right;*/
}

#cart-summary {
	width: 80%;
	text-align: center;
	margin: 0 auto;	
}

#confirmation-buttons {
	width: 80%; 
	text-align: center;
	margin: 0 auto;
	display: inline-block;
}

#align-buttons {
	width: 60%; 
	text-align: center;
	margin: 0 auto;
	display: inline-block;
}

/*Styles for admin pages*/
#admin-main {
	 margin-top: 63px;
	 background-color: #F5F4F0;
	 height: 500px;
}

[type="date"] {
  background:#f5f4f0 ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.datepicker {
  border: 1px solid black;
  border-radius: 0px;
  background: #f5f4f0 url("./icon-select.jpg") no-repeat 95% 50%;
  padding: 4px 8px;
  font-size: 14px;
  width: 150px;
}

.go {
    background-color: black; 
    border: 1px solid black;
    color: white;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
	margin-left: 10px;
	width: 60px;
	cursor: pointer;
}

/* Styles for footer */
.footer {
	margin: 10px;
	padding: 50px;
	position: relative;
	background-color: #fff;
}

#icons {
	float: left;
}

#icons img {
	margin-right: 20px;
	width: 30px;
	height: 30px;
}

#icons a:hover {
	opacity: 0.5;
}

#copyright {
	float: right;
}