/* Used for all pages */
body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	width: 100%;
	height: 100%;
}

.header {
	/*column-count: 3;*/
	position: fixed;
	height: 63px;
	top: 0;
	z-index: 1;
	opacity:0.8;
	width: 100%;
	/*margin: 0 auto;*/
	display: inline;
	background-color: #fff;
	/*vertical-align: middle;*/
}

#header::after {
	content: "";
	clear: both;
	display: table;
}

.header-box1 {
	height: 63px;
    float: left;
    width: 41%;
}

.header-box2 {
	height: 63px;
	float: left;
	width: 54%;
}

.header-box3 {
	height: 63px;
	float: left;
	width: 5%;
	/*text-align: right;*/
}

.logo {
	float: left;
	padding-top: 10px;
}

nav {
	line-height: 25px;
	float: left;
}

nav li {
	display: inline-block;
	/*text-align: center;*/
	/*margin-left: 30px;*/
	padding-top: 10px;
	position: relative;
}

nav li a {
	display: block;
	color: #444;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #fff;
}

nav ul li a:hover {
	opacity: 0.5;
}

.header-box3 #cart {
	/*float: right;*/
	padding-top: 5px;
}

/*nav .main-nav ul li a::before {
	content: '';
	display: block;
	height: 3px;
	background-color: #444;
	position: absolute;
	top: 0;
	width: 0%;
	transition: all ease-in-out 250ms;
}*/

/*nav ul li a:hover::before {
	width: 60%;
}*/

#cart {
	/*margin-left: 50px;*/
	background-color: #fff;
}

/* Styles for home page */
/*@-webkit-keyframes slider {
    0%    { background-position: 0px 0px; }
    10%   { background-position: 0px 0px; }
    33%   { background-position: -1360px 0px; }
    66%   { background-position: -1360px -453px; }
    100%  { background-position: 0px -453px; }  
}*/

#slideshow {
	margin-top: 63px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1360px;
	height: 453px;
	/*-webkit-animation: slider 20s infinite alternate;*/
}

/* Styles for menu page */
#menu-nav-container a:hover {
	opacity: 0.5;
}

#menu-nav-container {
	text-align: center;
	margin-top: 63px;
}

#menu-nav-container li {
	display: inline-block;
	/*text-align: center;*/
	/*margin-left: 30px;*/
	padding-top: 10px;
	position: relative;
}

#menu-nav-container li a {
	display: block;
	color: #444;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#menu-nav-container ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	/*overflow: hidden;*/
}

#menu-list-container {
	/*display: inline-block;*/
	padding-top: 20px;
	margin: 0 auto;
	text-align: center;
	background-color: #F5F4F0;
}

#menu-list-container ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu-list-container img:hover {
	opacity: 0.7;
}

.menu-item {
	display: inline-block;
	margin: 60px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#button-top {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

#button-top:hover {
  background-color: #555;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
	height: 50%;
}

.modal-col1 {
	display: inline-block;
	float: left;
	margin-left: 50px;
	width: 20%;
}

.modal-col2 {
	display: inline-block;
	width: 45%;
}

.modal-col3 {
	display: inline-block;
	width: 5%;
	float: right;
}

.input-number {
	border: 1px solid black;
	border-radius: 0px;
	padding: 5px 8px;
	width: 50px;
	margin-bottom: 10px; 
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* Styles for contact page */
.contact-main {
	column-count: 2;
	margin-top: 63px;
	width: 100%;
	display: table;
	background-color: #F5F4F0;
}

#contact-details {
	padding: 20px;
	vertical-align: middle;
	display: table-cell;
	float: right;
	margin-right: 60px;
}

#contact-form {
	padding: 20px;
	vertical-align: middle;
	display: table-cell;
	margin-left: 60px;
}

.submit {
    background-color: black; 
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
	width: 260px;
}

#div-submit {
	margin-top: 10px;
	margin-bottom: 50px;
}

.input-text {
    border: none;
    border-bottom: 2px solid black;
	background-color: #F5F4F0;
	margin-bottom: 5px;
	font-size: 20px;
}

.input-textarea {
    border: 1px solid black;
	background-color: #F5F4F0;
	margin-bottom: 5px;
	font-size: 15px;
}

.input-text, .input-textarea:focus {
    outline: none;
}

input {
  width: 260px;
  display: block;
}

#label {
  padding-top: 10px;
  padding-bottom: 10px;	
}

#div-message {
	padding-top: 20px;
}

.select-style {
    border: 1px solid black;
    border-radius: 0;
    overflow: hidden;
	background: #F5F4F0 url("./icon-select.jpg") no-repeat 95% 50%;
	width: 260px;
	display: block;
	
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
}

.select-style select:focus {
    outline: none;
}

/* Styles for cart page */
.cart-main {
	background-color: #F5F4F0;
	margin-top: 63px;
	width: 100%;
	text-align: center;
	min-height: 900px;
	padding-bottom: 100px;
	/*display: inline-block;;*/
}

#cart-table {
	display: inline-block;
	float: left;
	width: 70%;
}

#cart-details {
	border-collapse: collapse;
	margin: 0 auto;
}

#cart-details th, #cart-details td {
    padding: 15px;
    border-top: 1px solid #ddd;
}

#cart-details th {
	text-align: left;
}

.td-left {
	text-align: left;
}

.td-center {
	text-align: center;
}

#cart-table img {
	width: 40%;
	height: 40%;
}

.submit2 {
    background-color: black; 
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
	width: 240px;
}

.back-menu {
    background-color: white; 
    border: 1px black;
    color: black;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
	width: 240px;
}

.back-button {
    background-color: white;
    border: 1px black;
    color: black;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    /*margin: 4px 2px;*/
	width: 240px;
    cursor: pointer;
}

.delete {
    background-color: black; 
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
	width: 50px;	
}

.update {
    background-color: black; 
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
	width: 70px;
}

#order-summary {
	display: inline-block;
	float: left;
	width: 30%;
	margin-left: -40px;
}

#summary-details {
	border-collapse: collapse;
	border: none;
	margin: 0 auto;
}

#summary-details td {
	padding: 10px;
}

/* Styles for checkout page */
.checkout-main {
	background-color: #F5F4F0;
	margin-top: 63px;
	width: 100%;
	text-align: center;
	/*display: inline-block;;*/
	padding-bottom: 100px;
	padding-top: 40px;
	min-height: 700px;
}

#checkout-form {
	display: inline-block;
	float: left;
	width: 65%;
}

#checkout-details {
	border-collapse: collapse;
	border: none;
	margin: 0 auto;
}

#checkout-details td {
	padding: 10px;
	text-align: left;
}

#order-summary2 {
	display: inline-block;
	float: left;
	width: 35%;
	margin-left: -40px;
}

/* Styles for confirmation page */
.confirmation-main {
	background-color: #F5F4F0;
	margin-top: 63px;
	width: 100%;
	text-align: center;
	min-height: 2000px;
	padding-bottom: 100px;
	padding-top: 10px;
	/*display: inline-block;;*/
}

#confirmation-contact {
	width: 80%;
	text-align: center;
	margin: 0 auto;
}

#confirmation-contact hr {
	width: 70%;
}

#shipping-details {
	display: inline-block;
	float: left;
	width: 50%;
	/*text-align: left;*/
}

#email-details {
	display: inline-block;
	float: left;
	width: 50%;
	/*text-align: right;*/
}

#cart-summary {
	width: 80%;
	text-align: center;
	margin: 0 auto;	
}

#confirmation-buttons {
	width: 80%; 
	text-align: center;
	margin: 0 auto;
	display: inline-block;
}

#align-buttons {
	width: 60%; 
	text-align: center;
	margin: 0 auto;
	display: inline-block;
}


/* Styles for footer */
.footer {
	margin: 10px;
	padding: 50px;
	position: relative;
	background-color: #fff;
}

#icons {
	float: left;
}

#icons img {
	margin-right: 20px;
	width: 30px;
	height: 30px;
}

#icons a:hover {
	opacity: 0.5;
}

#copyright {
	float: right;
}